.card {
  position: relative;
  contain: content;
}

.image {
  width: 100%;
}

.photographer {
  max-width: calc(100% - 70px);
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 1.15rem;
  padding-left: 1.15rem;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  z-index: 2;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.name {
  box-sizing: content-box;
  max-width: calc(100% - 40px);
  margin-right: 40px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #e8e8e8;
}

.info {
  position: absolute;
  -webkit-transition: all 0.2s, -webkit-transform 0.2s ease-in-out 0s;
  transition: all 0.2s, -webkit-transform 0.2s ease-in-out 0s;
  transition: all 0.2s, transform 0.2s ease-in-out 0s;
  transition: all 0.2s, transform 0.2s ease-in-out 0s,
    -webkit-transform 0.2s ease-in-out 0s;
  display: -webkit-box;
  display: flex;
  bottom: 0;
  right: 0;
  padding-bottom: 1.15rem;
  padding-right: 1.15rem;
  color: #fff;
}

.card:hover .info .collect,
.card:hover .info .like,
.card:hover .info .download {
  opacity: 0.8;
  width: 40px;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.card:hover .info .collect:hover,
.card:hover .info .like:hover,
.card:hover .info .download:hover {
  opacity: 1;
}

.info .collect,
.info .like,
.info .download {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

@media (max-width: 650px) {
  .photographer {
    display: none;
  }
}

.card:hover .photographer,
.card:hover:before {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.overlay:before {
  content: "";
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  height: 80px;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.5)),
    to(rgba(0, 0, 0, 0))
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  z-index: 1;
}

.svg-icon {
  margin-right: 6px;
  margin-left: 6px;
  width: 24px;
  height: 24px;
  position: relative;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-style: normal;
}

.button {
  background: #05a081;
  color: #fff;
  border-color: #05a081;
  line-height: 1;
  position: relative;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}

.button-text-white {
  background: transparent;
  color: #fff;
  border-color: transparent;
  box-shadow: none;
}

.button-text-white .svg-icon svg {
  fill: #fff;
}
