.maxWidth {
    display: block;
  }

  @media (min-width: 901px) {
    .maxWidth {
        max-width: 1300px;
    }
  }
  
@media (min-width: 651px) and (max-width: 900px) {
    .maxWidth {
        max-width: 900px;
    }
  }
  
@media (min-width: 651px) {
    .maxWidth {
        margin-left: auto;
        margin-right: auto;
    }
  }